<!-- add lost meta seo -->
{% if page.last_modified_at %}
<meta content='en_US' property='og:locale'/>
<meta content='en_GB' property='og:locale:alternate'/>
<meta content='ms_MY' property='og:locale:alternate'/>
<meta content='id_ID' property='og:locale:alternate'/>
{% endif %}
{% if page.header.image.caption %}
  <meta property="og:image:alt" content="{{ page.header.image.caption }}">
{% endif %}
<!-- see if it "/_includes/head/custom.html" works -->
<meta name="webcrawlers" content="all" />
<meta name="rating" content="general" />
<meta name="spiders" content="all" />
<meta name="robots" content="index,follow" />
<meta name="googlebot-news" content="index,follow" />
<meta name="googlebot" content="index,follow" />
