---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="cache-control" content="max-age=800" />
    <meta http-equiv="cache-control" content="Private" />
    <meta name="google-site-verification" content="fYYFFxxNEP5-9x_N0og0owVt8q6EGqmmIwOCMRvin0s" />
    <meta name="msvalidate.01" content="DA3D4C0368D7AE1105218F7F5B5BD6AC">
    <meta name="alexaVerifyID" content="9vuxp7uDTuDQssajccQrFy1UnTQ">
    <meta name="naver-site-verification" content="b9b1f6708a13353f75e5b5a50e744f76de6f9303">
    <title>Google Drive Direct Link Generator</title>
    <meta
      name="description"
      content="Google Drive direct link generator, simply paste your shareable link and the tool will generate your Google Drive direct link!"
    />
    <meta name="robots" content="noodp" />
    <meta
      name="keywords"
      content="google drive direct link generator, drive direct link, drive link generator, google drive link parser, drive, link, generator"
    />
    <link rel="manifest" href="manifest.json?ver=1" />
    <link rel="canonical" href="https://knoacc.github.io/catetan/generator/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Google Drive Direct Link Generator" />
    <meta
      property="og:description"
      content="Google Drive direct link generator, simply paste your shareable link and the tool will generate your Google Drive direct link!"
    />
    <meta property="og:url" content="https://knoacc.github.io/catetan/generator/" />
    <meta
      property="og:site_name"
      content="Google Drive Direct Link Generator"
    />
    <meta
      property="og:image"
      content="https://cdn.statically.io/img/www.directlinkgenerator.com/images/Google_Drive_Direct_Link_Generator.jpg"
    />
    <!-- Favicons-->
    <link
      rel="apple-touch-icon"
      href="https://knoacc.github.io/catetan/assets/images/icon/apple-touch-icon-192x192.png"
    />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-TileImage"
      content="https://knoacc.github.io/assets/images/icon/mstile-144x144.png"
    />
    <link rel="icon" href="https://knoacc.github.io/catetan/assets/images/icon/favicon-32x32.png" sizes="32x32" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css?ver=1" />
    {% include pwa.html %}
    {% include auto_ads.html %}
  </head>
  <body>
    <!--[if lt IE 7]>
      <center>
        <p>
          You are using an <strong>outdated</strong> browser. Please
          <a href="http://browsehappy.com/">upgrade your browser</a> to improve
          your experience.
        </p>
      </center>
    <![endif]-->
    <div class="progress blue lighten-3 hide" id="progress">
      <div class="indeterminate blue"></div>
    </div>
    <header>
      <nav class="transparent black-text">
        <div class="nav-wrapper container">
          <a href="#" class="">
            <span class="fa-stack fa-lg valign-top">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
            </span>
            <span class="brand-logo brand-logo-small"
              >Direct Link Generator</span
            >
            <span class="description"
              >The #1 Google Drive Direct Link Generator</span
            >
          </a>
          <meta itemprop="url" content="https://knoacc.github.io/catetan/generator/" />
          <meta itemprop="name" content="Direct Link Generator" />
          <div
            id="header-mobile-links"
            class="hide row center hide-on-large-only"
          >
            <div class="col s12">
              <a href="#">About</a>
            </div>
            <div class="col s12 spacer"></div>
          </div>
          <ul class="hide right hide-on-med-and-down">
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container valign-wrapper">
      <div class="row" id="main">
        <div class="col 12 center" id="title">
          <h1>The #1 Google Drive Direct Link Generator</h1>
          {% include ads.html %}
        </div>
        <div class="col s12">
          <form action="#" id="direct-link-form">
            <div class="input-field col s12">
              <textarea id="url" class="materialize-textarea"></textarea>
              <label for="url"
                >Place your shareable links here (Must have "Public on the web"
                access settings)</label
              >
              <span class="max-lines"
                >Max <span id="max-lines"></span> lines</span
              >
            </div>
            <div class="right-align">
              <button
                id="submit"
                type="submit"
                class="waves-effect waves-light btn blue"
              >
                Get Direct Link
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <div class="container section hide" id="result">
      <ul id="data"></ul>
      <div class="row">
        <div class="col s12 right-align">
          <button id="copy-btn" class="btn blue" data-clipboard-target="#data">
            Copy to clipboard
          </button>
          {% include bawah.html %}
        </div>
      </div>
    </div>
    <div class="container section support">
      <span
        >If you are experiencing any issues please contact
        <a href="mailto:ceritagunung@gmail.com">Us</a></span
      >
    </div>
    <footer class="page-footer blue">
      <div class="footer-copyright">
        <div
          class="container white-text"
          style="display: flex;justify-content: space-between;"
        >
          <span>Copyright © <span id="year"></span> Direct Link Generator</span
          >
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script src="script.js?ver=2"></script>
  </body>
</html>
