<meta property='fb:pages' content='1491339030880996' />
<meta property='ia:markup_url' content='https://www.catetan.pw/instantfeed.xml' />
<meta property='ia:markup_url_de' content='https://www.catetan.pw/instantfeed.xml' />
{% if page.lang == "en"
<meta property='og:locale' content='en' />
<meta property='og:locale:alternate' content='{{ site.locale | slice: 0,2 | default: "id" }}' />
{% else %}
<meta property='og:locale' content='{{ site.locale | slice: 0,2 | default: "id" }}' />
<meta property='og:locale' content='{{ site.locale | slice: 0,2 | default: "en" }}' />
{% endif %}
