<!doctype html>
<html>
<head>
<!-- Video streaming _auto-play_, untuk munculkan suara klik/tap pada video. Jika streaming lewat smartphone, cukup putar layar ponsel untuk tampilan layar penuh. -->
  <meta charset="utf-8">
  <title>{{ page.match.liga }}{% if page.match.home %}: {{ page.match.home }} vs {{ page.match.away }}{% endif %} #{{ page.match.hashtag }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/text/block.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.css" type="text/css"/>
  <script src="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.js"></script>
  <link rel="canonical" href="{{ page.video.link }}">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  </head>
<body>
<video id="fluid" itemprop="video" itemscope itemtype="http://schema.org/VideoObject" width="480" height="270" poster="{{ page.video.poster }}" controls autoplay rotate-to-fullscreen>
<meta itemprop="name" content="{{ page.match.home }} {{ page.match.away }} #{{ page.match.hastag }}" />
<meta itemprop="description" content="{{ page.match.liga }} {% if page.match.round %}{{ page.match.round }}: {% endif %}{% if page.match.home %}{{ page.match.home }} vs. {{ page.match.away }}{% endif %} #{{ page.match.hashtag }} begin at {{ page.match.ko }}" />
{% if page.match.duration %}
<meta itemprop="duration" content="{{ page.match.duration }}" />
{% endif %}
{% if page.match.date %}
<meta itemprop="uploadDate" content="{{ page.match.date }}" />
{% endif %}
<meta itemprop="thumbnailURL" content="{{ page.video.poster }}" />
<meta itemprop="contentUrl" content="{{ page.video.source }}" />
<source type="{{ page.video.type }}" src="{{ page.video.source }}" />
</video>
<div class="notice notice--info">
<p><b>#{{ page.match.hashtag }}</b> {{ page.match.liga }}{% if page.match.round %} {{ page.match.round }}: {% endif %}{% if page.match.home %}{{ page.match.home }} vs {{ page.match.away }} starting at {{ page.match.ko }}{% endif %}
</div>
<p>
{% include tengah.html %}
</p>
<script>
fluidPlayer(
   'fluid',
    {
        layoutControls: {
            fillToContainer: true,
            primaryColor: '#e40501'
            title: '{% if page.match.home && page.match.away %}{{ page.match.home }} vs {{ page.match.away }}{% else %}LIVE Stream Video{% endif %}',
            logo: {
                imageUrl: '{{ page.video.logo }}',
                position: 'top left',
                clickUrl: '{{ page.video.link }}',
                opacity:  1
            },
        }
    },
    {
        vastOptions: {
            allowVPAID: true,
            adList: [
                {
                    roll: 'preRoll',
                    vastTag: 'https://docs.fluidplayer.com/ad_configuration/vastxmls/vpaid_linear.xml',
                },
                {
                    roll: 'midRoll',
                    vastTag: 'https://docs.fluidplayer.com/ad_configuration/vastxmls/vpaid_nonlinear.xml',
                    timer: 5
                }
            ]
        }
     }
);
</script>

{% include addon %}
</body>
</html>
